body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-sec {
  width: 100%;
  height: 110vh;
  background-image: url("./assets/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 150px;
  padding-top: 150px;
  align-items: center;
  box-sizing: border-box;
  margin-top: -120px;
}
.hero-sec h1 {
  font-family: geom;
  font-size: 45px;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
}
.hero-sec p {
  font-family: geom;
  font-size: 22px;
  font-weight: 500;
  word-break: break-all;
  max-width: 580px;
  padding: 5px 0px;
  line-height: 40px;
}

.wrapper {
  max-width: 60%;
  color: ghostwhite;
}
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #041224;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.navbar-container{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
}
.fvrt-btn:hover{
  background-color: transparent !important;
  border: 1px solid orangered !important;
}
.signupbtn:hover{
background-color: orangered !important;
}
.navitems {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}


.input-wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.features-sec {
  width: 100%;
  background-color: #ffffff;
}
.features-wrapper {
  max-width: 80%;
  margin: auto;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.feature-card {
  flex: 15%;
}
.features-wrapper .icon {
  font-size: 45px;
  color: orangered;
}
.features-wrapper h3 {
  font-family: geom;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #041224;
}
.features-wrapper p {
  font-family: geom;
  font-size: 13px;
  color: #353637;
  text-transform: capitalize;
  font-weight: 400;
}

.movies-sec {
  width: 100%;
  background-color: #041224;
}
.movies-wrapper {
  background-color: #041224;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  box-sizing: border-box;
}

.movie-card {
  background-color: rgba(0, 37, 66, 0.423);
  flex: 0 0 23%;
  /* background-color: orangered; */
  box-sizing: border-box;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
}
.movie-card img {
  width: 100%;
  border-radius: 12px;
  display: block;
  object-fit: cover;
}
.flex-card {
  width: 100%;
}
.flex-card.active {
  background-color: #041224;
}
.flex-card.active h1 {
  color: whitesmoke;
}
.flex-card.active p {
  color: whitesmoke;
}
.flex-card-wrapper {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
align-items: center;
  padding: 100px 20px;
  box-sizing: border-box;
}
.flex-card-image {
  flex: 0 0 55%;
  box-sizing: border-box;
  overflow: hidden;
}
.flex-card-content {
  flex: 0 0 35%;
}
.flex-card-content h1 {
  font-family: geom;
  font-size: 50px;
  line-height: 50px;
  text-transform: capitalize;
  color: #041224;
  font-weight: 700;
}
.flex-card-content p {
  font-size: 18px;
  font-family: geom;
  font-weight: 400px;
  color: #353637;
}
.flex-card-wrapper.reverse {
  flex-direction: row-reverse;
}
.fvrt-movies-wrapper {
  background-color: #041224;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  box-sizing: border-box;
}
.heart-icon-red {
  color: red;
  transition: ease-in-out 2s;
}
.footer {
  background-color: #041224;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
.footer p {
  font-size: 18px;
  color: whitesmoke;
  font-family: geom;
  font-weight: 400;
}
.footer-img {
  flex: 0 0 60%;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 650px) {
  .movies-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .navbar-container img{
    display: none;
  }
  .navbar{
    padding-left:0px;
    padding-right: 10px;
  }
  .fvrt-btn{
    padding:10px 18px !important;
  }
  .movie-card {
    width: 100%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .movie-card img {
    width: 100%;
    height: auto;
  }
  .movie-card h2 {
    font-size: 25px;
  }
  .hero-sec {
    padding: 20px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
  }
  .hero-sec h1 {
    font-size: 40px;
    line-height: normal;
  }
  .hero-sec p {
    font-size: 20px;
    line-height: normal;
  }
  .wrapper {
    max-width: 100%;
    box-sizing: border-box;
  }
  .movies-sec h1 {
    font-size: 30px !important;
    border: none !important;
  }
  .feature-card {
    flex: 100%;
    box-sizing: border-box;
  }
  .signupbtn {
    display: none;
  }
  .fvrt-movies-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 50px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .footer {
    flex-direction: column-reverse;
    padding: 30px;
  }
  .flex-card-wrapper {
    max-width: 100%;
    padding: 100px 30px;
  }
  .flex-card-image {
    flex: 0 0 100%;
  }
  .flex-card-content {
    flex: 0 0 100%;
  }
  .flex-card-content h1{
    font-size: 30px;
    line-height: 30px;
  }
  .flex-card-content p{
    font-size: 14px;
  }
}


@media (max-width:850px) {
     .hero-sec{
      padding:0px 50px
    }
     .wrapper {
  max-width: 100%;
    }
    .features-wrapper{
      max-width: 100%;
      padding:50px
    }
    .movie-card{
      flex: 45%;
          }
          .movies-wrapper{
            gap:30px
          }
          .flex-card-wrapper{
            
            
          }

        }
        @media (max-width:1050px) {
          .hero-sec{
            padding:50px;
           
           
          }
          .wrapper{
            max-width: 100%;
            
          }
          .features-wrapper{
            max-width: 100%;
            padding: 50px
          }
          .movie-card{
            flex: 30%;
           }
           .movies-wrapper{
            gap:20px
           }
           .flex-card-wrapper{
            display: flex;
            flex-direction: row;
            padding: 30px 50px;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
           }
            .flex-card-wrapper.reverse{
            padding:30px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:20px;
             }
             .flex-card-content{
              flex:1
             }
             .flex-card-wrapper{
              gap:30px;
             }
        }